<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<location path="Hostify.in.png">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
  <location path="BingSiteAuth.xml">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
  <location path="sitemap.xml">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
	<system.webServer>
		<httpRedirect enabled="true" destination="http://www.hostify.in/" />
	</system.webServer>
</configuration>
